.fundo {
  background-image: linear-gradient(
    135deg,
    #4ce2f1 0,
    #32daec 50%,
    #00d2e7 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.centro_login {
  width: 450px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  gap: 10px;
  border-radius: 25px;
  background-color: #e8f4f9;
  filter: drop-shadow(8px 2px 2px black);
}
.entrar {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  width: 80px;
  font-weight: bold;
  font-size: 20px;
}

.cadastro {
  border-radius: 15px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 80px;
  font-weight: bold;
  font-size: 15px;
}

.usuario {
  display: flex;
}

.senha {
  display: flex;
}
