.fundo {
  background-image: linear-gradient(
    135deg,
    #4ce2f1 0,
    #32daec 50%,
    #00d2e7 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.centro_login {
  border: solid black;
  width: 450px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  gap: 10px;
  border-radius: 20px;
}
.entrar {
  border-radius: 15px;
  background-color: white;
  border: 0;
  width: 80px;
}

.cadastro {
  border-radius: 15px;
  border: 0;
  background-color: white;
  width: 80px;
}
.usuario {
  display: flex;
}
.senha {
  display: flex;
}
